.env
.DS_Store
.idea/
.venv/
__pycache__/
mics/
sender_analysis_report.html
combined_output.csv
.vscode/
report/
.rasa/
*.pt

local_models
models
../models--mistralai--Mistral-7B-Instruct-v0.2
translation_models
whisper_models